p {
    text-align: center;
}

p.nothing {
    margin-top: 5rem;
}


ul {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 20%;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.625rem;
        padding: 0.625rem;
        color: black;
        border-radius: 0.313rem;
        background-color: beige;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

        a {
            text-decoration: none;
        
            h4 {
                font-weight: bold;
            }
        }

        div {
            width: 100%;
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: row;
            }
        }

        img {
            display: flex;
            max-width: auto;
            max-height: 4.688rem;
            border-radius: 0.313rem;
        }

        span {
            width: 1.7em;
            height: 1.5em;
            cursor: pointer;

            &.active {
                color: gold;
                background-color: gold;
            }
        }
    }
}